<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [ ]:
firstname='Danielle'
lastname='KAPSA'
fullname='KAPSA Danielle'
country='Cameroun'
city='Yaounde'
year='2021'
is_marrie= False
is_true=False

In [ ]:
print('My first name is ', firstname,'and my last name is', lastname, 'my fullname are', fullname, 'i come from', country, 'city', city, 'and my matrimonial status is ', is_marrie )

My first name is  Danielle and my last name is KAPSA my fullname are KAPSA Danielle i come from Cameroun city Yaounde and my matrimonial status is  False

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [ ]:
type(firstname)
type(lastname)
type(fullname)
type(country)
type(city)
type(year)
type(is_marrie)
type(is_true)

str

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [ ]:
x=int(input("Entrez un nombre : "))

Entrez un nombre : 1

In [ ]:
y=x*x+6*x+9
print (y)

16

In [ ]:
x=0
y=1
while y!=0:
  x=x-1
  y=x*x+6*x+9
print(x)

-3

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [ ]:
age =45
height=60.0
b=int(input("Entrez la base du triangle: "))
h=int(input("Entrez la hauteur du triangle: "))
area = 0.5*b*h
print('The area of the triangle is', area)

Entrez la base du triangle: 2
Entrez la hauteur du triangle: 2
The area of the triangle is 2.0

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [ ]:
a = input("Enter a side a: ")
b = input("Enter a side b: ")
c = input("Enter a side c: ")
perimeter = float(a)+float(b)+float(c)
print('The perimeter of the triangle with side', a,  b, 'and', c ,'is',perimeter)

Enter a side a: 5
Enter a side b: 4
Enter a side c: 5
The perimeter of the triangle with side 5 4 and 5 is 14.0

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [ ]:
l = input("Enter a  length: ")
w = input("Enter a  width: ")
area = float(l)*float(w)
perimeter =  float(l)*float(w)*2
print('The perimeter and the area of the rectangle with length', l, 'and the width', w,'are', perimeter, ',' ,area )

Enter a side length: 5
Enter a side width: 5
The perimeter and the area of the rectangle with length 5 and the width 5 are 50.0 , 25.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonfÃ©rence (c = 2 x pi x r) oÃ¹ pi = 3,14.**

In [ ]:
import math as m

In [ ]:
r = input("Enter a raduis: ")
area = float(r)*float(r)*m.pi
circumference =  float(r)*2*m.pi
print('The circumference and the area of the circle with raduis', r, 'are',circumference , ',' ,area )

Enter a raduis: 5
The circumference and the area of the circle with raduis 5 are 31.41592653589793 , 78.53981633974483

**Exercice 07:**
> **Calculez la pente, l'ordonnÃ©e Ã  l'origine en x et l'ordonnÃ©e Ã  l'origine en $y$ de $y = 2x -2$.**

In [2]:
xa=input('Entrer l\' abscisse de A')
xb=input('Entrer l\' ordonnee de A')
ya= 2*float(xa)-2
yb= 2*float(xb)-2
pente = ((float(yb)-float(ya))/(float(xb)-float(xa)))
xo=ya-pente*float(xa)
yo=yb-pente*float(xb)
print(pente, xo, yo)

Entrer l' abscisse de A6
Entrer l' ordonnee de A9
2.0 -2.0 -2.0

**Exercice 08:** 
> **RÃ©digez un script qui demande Ã  l'utilisateur d'entrer les heures et le taux horaire. Calculez la rÃ©munÃ©ration de la personne ?**

In [ ]:
h=input('Entrer les heures:')
t=input('Enter le taux horaires:')
s=float(h)*float(t)
print("Votre salaire est de:",s)

Entrer les heures:5
Enter le taux horaires:1000
Votre salaire est de: 5000.0

**Exercice 09:** 
> **Ã‰crivez un script qui demande Ã  l'utilisateur d'entrer le nombre d'annÃ©es. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [ ]:
n=input("Entrer le nombre d'annee: ")
if int(n) > 100:
  print('Good bye')
else:
  ne = 100-int(n)
  print('vous pourrez vivre encore', ne*30*12*24*120, 'secondes')

Entrer le nombre d'annee: 80
vous pourrez vivre encore 20736000 secondes

**Exercice 10:** 
> **Ã‰crivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [ ]:
k=1
for i in range(1,6):
  print(i,k,i,i*i,i*i*i)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [ ]:
time = 6.892
distance=19.7
speed=distance/time
print('The speed is ',format(speed, ".2f"))

The speed is  2.86

**Exercice 12:** 
> **Ã‰crire un programme qui, Ã  partir de la saisie dâ€™un rayon et dâ€™une hauteur, calcule levolume dâ€™un cÃ´ne droit.**

In [ ]:
r=input('Entrer le rayon:')
h=input('Enter la hauteur:')
v=float(h)*float(r)*float(r)/3
print("Le volume du cone droit est de:",format(v, ".2f"))

Entrer le rayon:2
Enter la hauteur:2
Le volume du cone droit est de: 2.67

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [ ]:
n=input('Entrer le nombre:')
i=0
while float(n)%2!=0:
 i=i+1
 print(i)

Entrer le nombre:2
0

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

**Exercice 15:** 
> **Utilisez la fonction d'entrÃ©e intÃ©grÃ©e `input()` pour obtenir le `_prÃ©nom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [ ]:
prenom=input("Entrer votre prenom")
nom=input("Entrer le nom")
pays=input("Entrer le pays d'origine")
age = input("Entrer votre age")

**Exercice 16:** 

**DÃ©clarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur Ã  une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur Ã  une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur Ã  une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur Ã  une variable `division`.
   5. Calculez `num_one` Ã  la puissance de `num_two` et attribuez la valeur Ã  une variable `exp`.

In [ ]:
num_one=5
num_two=4
totale=num_two+num_one
diff=num_two-num_one
produit=num_two*num_one
division=num_one/num_two
exp=num_one**num_two

<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS! / CONGRATULATIONS! ðŸŽ‰ </span> </b></center>