

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [3]:
MaListe = []

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [5]:
MaListe = [-1.0, -0.5, 0.0, 0.5, 1.0]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [6]:
len(MaListe)

5

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [8]:
PremierElement=MaListe[0]
CentralElement=MaListe[int(len(MaListe)/2)]
DernierElement=MaListe[-1]

print(PremierElement,CentralElement,DernierElement)

-1.0 0.0 1.0

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [9]:
mixed_data_types=["Prof YAE","31","1.80","Mari√©", "Cotonou, Benin"]

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [75]:
it_companies=["Facebook", "Google", "Microsoft", "Apple","IBM", "Oracle","Amazon"]
print("La liste des compagnies:", it_companies)
print("Le nombre de compagnies:",len(it_companies))

La liste des compagnies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Le nombre de compagnies: 7

In [17]:
PremierElement=it_companies[0]
CentralElement=it_companies[int(len(it_companies)/2)]
DernierElement=it_companies[-1]

print(PremierElement,CentralElement,DernierElement)

Facebook Apple Amazon

In [24]:
it_companies[0]="Alibaba"
print(it_companies)

['Alibaba', 'Google', 'Microsoft', 'Apple', 'Ishango', 'Design', 'Ishango', ' IBM', 'Oracle', 'Amazon', 'Ishango', 'Ishango']

In [19]:
it_companies.append("Ishango")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', ' IBM', 'Oracle', 'Amazon', 'Ishango', 'Ishango']

In [22]:
it_companies.insert(int(len(it_companies)/2),"Design")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Ishango', 'Design', 'Ishango', ' IBM', 'Oracle', 'Amazon', 'Ishango', 'Ishango']

In [27]:
it_companies[0]=it_companies[0].upper()
print(it_companies)

['ALIBABA', 'Google', 'Microsoft', 'Apple', 'Ishango', 'Design', 'Ishango', ' IBM', 'Oracle', 'Amazon', 'Ishango', 'Ishango']

In [32]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [33]:
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [61]:
print(it_companies)
for i in range(0,3):
  it_companies.remove( it_companies[0])
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Apple', 'IBM', 'Oracle', 'Amazon']

In [63]:
print(it_companies)
for i in range(0,3):
  it_companies.remove( it_companies[-1])
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple']

In [76]:
print(it_companies)
k=int(len(it_companies)/2)
if len(it_companies)%2==0:
    for i in [int(len(it_companies)/2),int(len(it_companies)/2)+1]:
      it_companies.remove( it_companies[k])
      k=int(len(it_companies)/2)
else:
    it_companies.remove( it_companies[k])
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [79]:
print(it_companies)
it_companies.pop()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM']
['Facebook', 'Google', 'Microsoft']

In [80]:
print(it_companies)
for i in range(len(it_companies)):
      it_companies.remove( it_companies[-1])   
print(it_companies)

['Facebook', 'Google', 'Microsoft']
[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [83]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
join_list = front_end+back_end
print(join_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [26]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [27]:
ages.sort()
print('age minimun', ages[0], 'age maximal', ages[-1])

age minimun 19 age maximal 26

In [29]:
ages.append(ages[0])

In [30]:
ages.append(ages[-1])

In [38]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19]

In [37]:
if len(ages)%2==0:
   print(ages[int(len(ages)/2)])
else:
    print(ages[int((len(ages)/2)+1)], ages[int((len(ages)/2)-1)])

24

In [35]:
som=0
i=0
for i in range(len(ages)):
 som=som+ages[i]
moy=int(som/len(ages))
moy

22

In [40]:
max(ages)-min(ages)

7

In [41]:
abs(max(ages)-moy)

4

In [42]:
abs(min(ages) - moy)

3

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [87]:
dog={}

In [88]:
dog = {'name':'Jean','couleur':'marron', 'race':'berger','pattes':'4', 'age':25, 'weight':70, 'height':1.75}

In [4]:
student = {'prenom':'Jean','nom':'Jean', 'sexe':'F','etat':'marie','age':25, 'competence':'Data scientist, Computer Scientist, Cyber security','pays':'Cameroon', 'ville':'Yaounde', 'adresse':'Yde Cmr'}

In [2]:
len(student)

9

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>