

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Fonctions</span> </b></center>

#### **Exercice 00:**  
> **Écrire une fonction `cube` qui retourne le cube de son argument.**

In [ ]:
def cube():
  'code which return the cube of the number '
  n=int(input('Entrer un nombre'))
  cube=n*n*n
  return cube

In [ ]:
print(cube.__doc__)

code which return the cube of the number

In [ ]:
cube(3)

27

#### **Exercice 01:**  
> **Déclarez une fonction `ajouter_deux_nombres`. Elle prend deux paramètres et renvoie leur somme.**

In [ ]:
def ajouter_deux_nombres(n1,n2):
  "function return the sum of two arguments"
  sum=n1+n2
  return sum

In [ ]:
ajouter_deux_nombres(2,2)

4

#### **Exercice 02:**  
> **L'aire d'un cercle se calcule comme suit : aire = pi x r x r avec pi=3,14. Écrivez une fonction `aire_du_cercle` qui prend le rayon en argument et calcule l'aire du cercle correspodant.**

In [ ]:
def aire_du_cercle(r):
  pi=3.14
  aire=pi*r*r
  return r

In [ ]:
aire_du_cercle(4)

4

#### **Exercice 03:**  
> **La température en °C peut être convertie en °F à l'aide de cette formule : °F = (°C x 9/5) + 32. Écrivez une fonction `convert_celsius_en_fahrenheit` qui convertit les °C en °F**.

In [ ]:
def convert_celsius_en_fahrenheit(t):
  f=(t*(9/5))+32
  return f

#### **Exercice 04:** 
>**Écrire une fonction somme avec un argument « tuple de longueur variable » qui calcule la somme des nombres contenus dans le tuple.Tester cette fonction par des appels avec différents tuples d’entiers ou de flottants.**

In [ ]:
tupless = (1,2,3,5,8,9,6)
tuplessfloat = (1.,2.,3.,5.,8.,9.,6.)
liste = []
print(type(tuples), type(liste))
def sumtuple(tupl, n):
  sum =0
  for i in range(n):
    sum = sum+tupl[i]
  return sum
sumtuple(tupless, len(tupless))
sumtuple(tuplessfloat, len(tuplessfloat))

<class 'tuple'> <class 'list'>

34.0

#### **Exercice 05:** 
>**Ecrire `somme_liste` qui calcule la somme des nombres contenus dans une liste.Tester cette fonction par des appels avec différents listes d’entiers ou de flottants.**

In [11]:
def sumliste(maliste, n):
  sum =0
  for i in range(n):
    sum = sum+maliste[i]
  return sum
maliste=[1,2,3,4,5,6]
sumliste(maliste, len(maliste))

21

#### **Exercice 06:** 
>**Écrire une fonction somme qui  prend en argument un entier $n$ et retourne la somme  des $n$-prémiers entiers naturels.**

In [ ]:
def som(n):
  som=0
  for i in range(n+1):
    som =som+i
  return som
som(3)

6

#### **Exercice 07:** 
>**Écrire une fonction `nom` qui demande à l'utilisateur d'entrer son nom ensuite son prénom et affiche son prénom suivit de son nom.**

In [ ]:
def nom():
  nom=input('Entrer votre nom :')
  prenom=input('Entrer votre prenom: ')
  print(prenom, nom)
nom()

Entrer votre nom :D
Entrer votre prenom: K
K D

#### **Exercice 08:** 
>**Écrire une fonction `nom` qui demande à l'utilisateur d'entrer son nom ensuite son prénom et affiche son prénom suivit de son nom.**

In [8]:
def nom():
  nom=input('Entrer votre nom :')
  prenom=input('Entrer votre prenom: ')
  print(prenom, nom)
nom()

Entrer votre nom :f
Entrer votre prenom: s
s f

#### **Exercice 09:** 
>**Ecris une fonction `Maximum` qui renvoie le minimum de trois nombres.**

In [4]:
def maximun(a, b, c):
  if a<b and a<c:
    min=a
  if b<a and b<c:
    min=b
  if c<a and c<b:
    min=c
  return min

In [7]:
 maximun(5, -38, -10)

-38

#### **Exercice 10:**
>**Soit $f(x)=ax^2+bx+c$ un trinôme du second degré.**
 1. **Ecris une fonction `Discriminant` qui calcule son discriminant.**
 2. **Ecris ensuite une fonction `existence_des_racines_du_trinome` qui discute suivant les valeurs du discriminant, l'existence de ses racines.**

In [ ]:
def Discriminant (a,b,c):
  D= b*b -4*a*c
  return D

In [ ]:
from math import sqrt
def existence_des_racines_du_trinome(a,b,c):
  D=Discriminant (a,b,c)
  if D < 0:
    print('l\' equation n\'a pas de solution')
  elif D==0:
    print('l\' equation a une unique solution', -b/2*a)
  else:
    x1=(-b+ sqrt(D))/(2*a)
    x2=(-b- sqrt(D))/(2*a)
    print('l\'equation a deux solutions ', x1  ,x2)

In [ ]:
existence_des_racines_du_trinome(2,-1,-6)

l'equation a deux solutions  2.0 -1.5

#### **Exercice 11:**
>**Ecris une fonction qui affiche le reste de la division euclidienne d'un entier naturel $a$ par un entier naturel $b$**.

In [2]:
def restediv(a, b):
  if a<b:
    a,b=b,a
  if b==0:
    return 0
  q=0
  r=a
  while r>=b:
    q=q+1
    r=r-b
  return r

In [3]:
restediv(9876543,21)

12

#### **Exercice 12:**
>**Ecris une fonction `terme_suite_geometrique` qui affiche le n-ième terme d'une suite géométrique $(v_n)$ de premier terme $v_0$ et de raison $q$. Teste ce programme pour $v_0=2, q=3$ et $n=4$.**

In [ ]:
def terme_suite_geometrique(v0, q, n):
  for i in range(n):
    v=v0*(q**i)
    print(v)

In [ ]:
terme_suite_geometrique(2, 3, 4)

2
6
18
54

#### **Exercice 13:**
>**Écris une fonction `merci` prend en paramètre un `nom` et renvoie le message "Merci pour votre présence à cet atelier,`nom`.**

In [ ]:
def merci(nom):
  print("Merci pour votre presence à cet atelier", nom)

In [ ]:
nom = input('Entrer le nom ')
merci(nom)

Entrer le nom k
Merci pour votre presence k

#### **Exercice 14:**
>**Écris une fonction `ma_suite` qui définit la suite $(u_n)$ telle que  $$u_{n}=\frac{2n^2+3n-1}{n+6}.$$
Affiche son 5e terme.**

In [ ]:
l=[]
def ma_suite(n):
  for i in range(n+1):
    u=(2*i*i + 3*i -1)/(i+1)
  return u

In [ ]:
ma_suite(5)

10.666666666666666

In [ ]:
(2*5*5 + 3*5 -1)/(5+1)

10.666666666666666



<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! 🎉 </span> </b></center>