

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Loops</span> </b></center>

#### Exercice 0
>On se propose de résoudre dans l'ensemble des entiers naturels l'inéquation $2n(n+1)<100$.
En utilisant une boucle **While**, écris un programme qui renvoie les solutions entières de cette inéquation.

In [ ]:
n=0
while(2*n*(n+1)<100):
  print(n)
  n=n+1

0
1
2
3
4
5
6

#### Exercice 1
> En utilisant une boucle **For**, écris un programme qui calcule la somme des 30 premiers entiers naturels non nuls.

In [ ]:
sum=0
for i in range(31):
  sum=sum+i
sum

465

#### Exercice 2
>Refais l'exercice 1 en utilisant une boucle **While**.

In [ ]:
sum=0
i=1
while(i<30):
  sum=sum+i
  i=i+1
sum

435

#### Exercice 3
>En utilisant une boucle **For**, écris un programme qui calcule le produit des 9 premiers entiers naturels non nuls.

In [ ]:
mult=1
for i in range(1,10):
  mult=mult*i
mult

362880

#### Exercice 4
> Refais l'exercice 3 en utilisant une boucle **While**.

In [ ]:
mult=1
i=1
while(i<10):
  mult=mult*i
  i=i+1
mult

362880

#### Exercice 5 
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres pairs de $1$ à $n$ en utilisant la boucle **For**.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
for i in range(Nombre+1):
  if i%2==0:
    print(i)

Entrer un nombre:10
0
2
4
6
8
10

#### Exercice 6
>Refais l'exercice 5 en utilisant la boucle **While**.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
i=0
while i< Nombre :
  if i%2==0:
    print(i)
  i=i+1

Entrer un nombre:10
0
2
4
6
8

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

#### Exercice 7
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres impairs de 1 à n en utilisant la boucle **For**.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
for i in range(Nombre+1):
  if i%2!=0:
    print(i)

Entrer un nombre:10
1
3
5
7
9

#### Exercice 8
>Refais l'exercice 7 en utilisant la boucle **While**.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
i=0
while i< Nombre :
  if i%2!=0:
    print(i)
  i=i+1

Entrer un nombre:10
1
3
5
7
9

#### Exercice 9
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication  en utilisant la boucle **For**.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
for i in range(10):
    print(i,'*',Nombre,'=',i*Nombre)

Entrer un nombre:10
0 * 10 = 0
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90

#### Exercice 10
>Refais l'exercice 9 en utilisant la boucle **While**.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
i=0
while i < 10:
    print(i,'*',Nombre,'=',i*Nombre)
    i=i+1

Entrer un nombre:10
0 * 10 = 0
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90

#### Exercice 11
>Écris un programme qui demande à l'utilisateur d'entrer un nombre et de trouver tous ses diviseurs  en utilisant la boucle **For**.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
for i in range(1,Nombre+1):
  if Nombre%i==0:
    print(i)

Entrer un nombre:10
1
2
5
10

#### Exercice 12
>Écris un programme qui demande à l'utilisateur d'entrer un entier naturel n et de trouver tous sa factorielle n!  en utilisant la boucle **For**. On rappelle que $n!=n*(n-1)*(n-2)...3*2*1$.

In [ ]:
Nombre=int(input('Entrer un nombre:'))
Fact=Nombre
for i in range(1,Nombre):
  Fact=Fact*(Nombre-i)
Fact

Entrer un nombre:5

120

#### Exercice 13
>Écris un programme qui demande à l'utilisateur d'entrer deux entiers naturels (plus petits que 15) et de trouver leur plus petit commun multiple utilisant la boucle **For**.

In [ ]:
Nombre1=int(input('Entrer un nombre plus petit que 15:'))
Nombre2=int(input('Entrer un nombre plus petit que 15:'))

Entrer un nombre:5
Entrer un nombre:5

120

#### Exercice 14
>Écris un programme pour afficher la série de Fibonacci jusqu'à n termes en utilisant une boucle.

#### Exercice 15
>Écris, en utilisant une boucle **For**, un programme pour afficher 5 fois de suite le message "Python est un très bon langage de programmation".

#### Exercice 16
>Écris, en utilisant une boucle **While**, un programme pour afficher 7 fois de suite le message "A cette allure je finirai par tout abandonner pour la programmation".

#### Exercice 17
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

#### Exercice 18
>Écris, en utilisant une boucle **For**, un programme qui affiche chaque élément d'une chaine de caractère.

#### Exercice 19
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS! 🎉 </span> </b></center>